<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bsc in Information Technology</h1>
            <span>University of Mumbai</span>
            <span><address>Mumbai, Maharastra</address><time>2011 to 2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Higher Secondary</h1>
            <span>University of Gujarat</span>
            <span><address>Vapi, Gujarat</address><time>2008 to 2011</time></span>
        </header>
    </article>
</section>
