<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
        <h1>Consultant</h1>
         <span><address>Controlcase India</address><time>07 August 2017 to Present</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Performing VA as well as PT both Internally and Externally Keeping PCI Standard in SCOPE</address></span>
		</header>
		<header>
		<span><address>Performing ASV Scan Keeping PCI Standard in SCOPE</address></span>
		</header><header>
		<span><address>Making Sure Clients are Complaint ;-)</address></span>
		</header>
    </article>
    <article>
        <header>
        <h1>Sr. Security Analyst</h1>
         <span><address>Allied Digital Service Ltd, India</address><time>01 Aug 2015 to Present</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Currently Managing SOC as Sr. Security Analyst</address></span>
		</header>
		<header>
		<span><address>Handling Client Meetings and Presentation</address></span>
		</header><header>
		<span><address>Preparing and presenting Monthly / Weekly reports</address></span>
		</header><header>
		<span><address>Performing VA/PT</address></span>
		</header><header>
		<span><address>Malware Invetigation</address></span>
		</header><header>
		<span><address>Implemented and managing Alien Vault</address></span>
		</header>
    </article>
    <article>
        <header>
            <h1>Security Analyst</h1>
            <span><address>Allied Digital Service Ltd, India</address><time>16th Sep 2014 to 31st Jul 2015</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Incident Response and Computer Forensic Team</address></span>
		</header>
	    <header>
		<span><address>Malware Analysis</address></span>
		</header>
	    <header>
		<span><address>Vulnerability Assessment and Pen Testing</address></span>
	    </header>
    </article>
    <article>
        <header>
            <h1>Internship</h1>
            <span><address>Allied Digital Service Ltd, India</address><time>14th May 2014 to 15th Sep 2014</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Log Monitoring</address></span>
		</header>
		<header>
		<span><address>Threat Notification and Alert Service</address></span>
		</header>
		<header>
		<span><address>Other SOC Activities</address></span>
		</header>
    </article>
</section>
