<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
        <h1>Consultant</h1>
         <span><address>Controlcase India</address><time>07 August 2017 to Present</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1><h1>(As per PCI Guidelines)</h1>
		</header>
		<header>
		<span><address>Performing Internal Vulnerability Assesment and Pen-Test</address></span>
		</header>
	    <header>
		<span><address>Performing External Vulnerability Assesment and Pen-Test</address></span>
		</header>
	    <header>
		<span><address>Performing both internal and external Web Application Pen-Test</address></span>
		</header>
	    <header>
		<span><address>Android Application Testing</address></span>
		</header>
		<header>
		<span><address>Other Activities which helps customer to get Compliance Certified</address></span>
		</header>
    </article>
    <article>
        <header>
        <h1>Sr. Security Analyst</h1>
         <span><address>Allied Digital Service Ltd, India</address><time>01 Aug 2015 to 31 July 2017</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Managing SOC as Sr. Security Analyst</address></span>
		</header>
		<header>
		<span><address>Client Meetings and Presentation</address></span>
		</header><header>
		<span><address>Preparing and presenting Monthly / Weekly reports</address></span>
		</header><header>
		<span><address>Performed VA/PT (Internal Only)</address></span>
		</header><header>
		<span><address>Malware Investigation (Internal Only) </address></span>
		</header><header>
		<span><address>Implemented and managing SIEM (Both for Internal and as well as for Our Customer)</address></span>
		</header><header>
		<span><address>Performed different types of Web and Network Attacks in controlled Env, to write specefic log Parser</address></span>
		</header>
		<header>
		<span><address>Perform Internal ISO 27001:2013 Audit</address></span>
		</header>
    </article>
    <article>
        <header>
            <h1>Security Analyst</h1>
            <span><address>Allied Digital Service Ltd, India</address><time>16th Sep 2014 to 31st Jul 2015</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Incident Response and Computer Forensic Team</address></span>
		</header>
	    <header>
		<span><address>Malware Analysis</address></span>
		</header>
	    <header>
		<span><address>Vulnerability Assessment and Pen Testing</address></span>
	    </header>
    </article>
    <article>
        <header>
            <h1>Internship</h1>
            <span><address>Allied Digital Service Ltd, India</address><time>14th May 2014 to 15th Sep 2014</time></span>
        </header>
		<header>
		<h1>Roles and Responsibility</h1>
		</header>
		<header>
		<span><address>Log Monitoring</address></span>
		</header>
		<header>
		<span><address>Threat Notification and Alert Service</address></span>
		</header>
		<header>
		<span><address>Other SOC Activities</address></span>
		</header>
    </article>
</section>
