<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Bug reported In:</h1>
        </header>
    </article>
    <article>
        <header>
            <span><address>Cross-Site Scripting -> http://webuy.in</address></span>
            <span><address>Cross-Site Scripting -> http://belkin.com (Network Device)</address></span>
            <span><address>Hardcoded Credential -> http://belkin.com (Network Device)</address></span>
            <span><address>Cross-Site Scripting -> http://mobikwik.com</address></span>
            <span><address>Improper Session Handling -> https://screenconnect.com</address></span>
        </header>
    </article>
</section>
