<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Bug reported In:</h1>
        </header>
    </article>
    <article>
        <header>
            <span><address>Cross-Site Scripting -> http://webuy.in</address></span>
        </header>
        <header>
            <span><address>Cross-Site Scripting -> http://belkin.com (Network Device)</address></span>
        </header>
        <header>
            <span><address>Hardcoded Credential -> http://belkin.com (Network Device)</address></span>
    </header>
        <header>
            <span><address>Cross-Site Scripting -> http://mobikwik.com</address></span>
    </header>
        <header>
            <span><address>Improper Session Handling -> https://screenconnect.com</address></span>
        </header>
        <header>
            <span><address>Multiple Vunerability Reported -> https://chaipoint.com/</address></span>
        </header>
        <header>
            <span><address>Multiple Vulnerability Reported -> https://order.faasos.io/</address></span>
        </header>
        <header>
            <span><address>Multiple Vulnerability Reported -> http://www.gorb.in</address></span>
        </header>
        <header>
            <span><address>Multiple Vulnerability Reported -> Younify Portal</address></span>
        </header>
    </article>
</section>
