<section class="thirteen columns">
    <h1>Certification & Course Completed</h1>
    <article>
        <header>
		<span><address>Certified : CEH (Certified Ethical Hacker v 7.0)</address></span>
        </header>
        <header>
		<span><address>Certified : CEH (Certified Ethical Hacker v 8.0) from EC-Council</address></span>
        </header>
        </header>
        <header>
		<span><address>Certified : MTA Networking Fundamental</address></span>
        </header>
        <header>
		<span><address>Certified : MTA Security Fundamental</address></span>
        </header>
        <header>
		<span><address>Course : ECSA (Certified Security Analyst v 8.0) from EC-Council</address></span>
        </header>
        <header>
		<span><address>Course : EC-Council App-SEC CAST 613</address></span>
	    <header>
		<span><address>Course : CCNA Routing and Switching</address></span>
        </header>
	    <header>
		<span><address>Course : ISMS 27001:2013 Lead Auditor</address></span>
	    </header>
	    <header>
		<span><address>Course : Pen-Test Internet Of Things and Few HardWare Components</address></span>
	    </header>
	    <header>
		<span><address>Course : Metasploit and Nmap</address></span>
	    </header>
	    <header>
		<span><address>Course : Malware Analysis ( Behavioral / Static )</address></span>
	    </header>
	    <header>
		<span><address>Course : Linux / Windows Command Line</address></span>
	    </header>
	    <header>
		<span><address>Course : Android Exploitation and Reversing Application</address></span>
	    </header>
	        <article>
        <header>
            <h1>Following are the SANS Course I have Completed</h1>
        </header>
    </article>
	   
	    <header>
		<span><address>SANS 408 - Windows Forensic Analysis</address></span>
	    </header>
	    <header>
		<span><address>SANS 502 - Perimeter Protection In-Depth</address></span>
	    </header>
	    <header>
		<span><address>SANS 503 - Intrusion Detection In-Depth</address></span>
	    </header>
	    <header>
		<span><address>SANS 504 - Hacker Tools, Techniques, Exploits, and Incident Handling</address></span>
	    </header>
	    <header>
		<span><address>SANS 505 - Sans Securing Windows with PowerShell</address></span>
	    </header>
	    <header>
		<span><address>SANS 507 - Auditing & Monitoring Networks, Perimeters & Systems</address></span>
	    </header>
	    <header>
		<span><address>SANS 508 - Advanced Digital Forensics and Incident Response</address></span>
	    </header>
	    <header>
		<span><address>SANS 511 - Continuous Monitoring and Security Operations</address></span>
	    </header>
	    <header>
		<span><address>SANS 517 - Cutting Edge Hacking Techniques</address></span>
	    </header>
		<header>
		<span><address>SANS 566 - Implementing and Auditing the Critical Security Controls - In-Depth</address></span>
	    </header>
	    <header>
		<span><address>FOR 610 - Reverse-Engineering Malware Malware Analysis Tools and Techniques</address></span>
	    </header>
    </article>
</section>
