<section class="thirteen columns">
    <h1>Skills N Certification</h1>
    <article>
        <header>
		<span><address>CEH (Certified Ethical Hacker v 7.0)</address></span>
        </header>
	    
        <header>
		<span><address>CEH (Certified Ethical Hacker v 8.0) from EC-Council</address></span>
        </header>
        <header>
		<span><address>ECSA (Certified Security Analyst v 8.0) from EC-Council</address></span>
        </header>
        <header>
		<span><address>EC-Council App-SEC CAST 613</address></span>
        </header>
        <header>
		<span><address>MTA Networking Fundamental</address></span>
        </header>
        <header>
		<span><address>MTA Security Fundamental</address></span>
       </header>
	    <header>
		<span><address>CCNA Routing and Switching</address></span>
            </header>
	    <header>
		<span><address>ISMS 27001:2013 Lead Auditor</address></span>
	    </header>
	    <header>
		<span><address>Working Knowledge of VMWare and Other Virtual Environment</address></span>
	    </header>
	    <header>
		<span><address>Internet Of Things</address></span>
	    </header>
	    <header>
		<span><address>Metasploit and Nmap</address></span>
	    </header>
	    <header>
		<span><address>Malware Analysis ( Behavioral / Static )</address></span>
	    </header>
	    <header>
		<span><address>Linux / Windows Command Line</address></span>
	    </header>
	    <header>
		<span><address>Android Exploitation and Reversing Application</address></span>
	    </header>
	    
    </article>
</section>
